.root {
  display: flex;
  width: 200px;
  justify-content: space-between;

  a {
    margin-right: 13px;
    color: #10d118;
    padding: 6px 12px;
    border: solid 1px #10d118;
    border-radius: 17px;
    cursor: pointer;
    &:hover {
      color: #1c1b1b;
      background-color: #10d118;
    }
  }

  :global {
    .selected {
      a {
        background-color: #10d118;
        color: #1c1b1b;
      }
    }
  }
}
