.root {
  display: flex;
  width: 200px;
  justify-content: space-between;

  a {
    margin-right: 13px;
    color: #2F4F4F;
    padding: 6px 12px;
    border: solid 1px #2F4F4F;
    border-radius: 17px;
    cursor: pointer;
    &:hover {
      color: #FFFFFF;
      background-color: #000000;
    }
  }

  :global {
    .selected {
      a {
        background-color: #2F4F4F;
        color: #FFFFFF;
      }
    }
  }
}
