.root {
  display: flex;
  width: 200px;
  justify-content: space-between;
  //   :global {

  //   }
  a {
    margin-right: 13px;
    color: #fe5f1e;
    padding: 6px 12px;
    border: solid 1px #fe5f1e;
    border-radius: 17px;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: #fe5f1e;
    }
  }

  :global{ 
    .selected{
        a {
            background-color: #fe5f1e;
            color: #fff;
        }
    }
  }
}
