@import "../variables";

.categories {
  ul {
    display: flex;

    li {
      background-color: #2F4F4F;
      color: #FFFFFF;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#000000, 2%);
        color: #FFFFFF;
      }

      &:active {
        background-color: darken(#000000, 5%);
        // color: #2F4F4F;
        color: #b5b4b4;
      }

      &.active {
        background-color: #000000;
        color: #FFFFFF;
      }
    }
  }
}
