@import "../variables";

.categories {
  ul {
    display: flex;

    li {
      background-color: #2F4F4F;
      color: #1c1b1b;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#282828, 2%);
        color: #2F4F4F;
      }

      &:active {
        background-color: darken(#282828, 5%);
        color: #2F4F4F;
      }

      &.active {
        background-color: #282828;
        color: #2F4F4F;
      }
    }
  }
}
