.root {
  display: flex;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  left: -100px;
  width: 400px;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
}
.searchIcon {
  width: 22px;
  height: 22px;
  margin-top: 11px;
  margin-left: 12px;
  opacity: 0.5;
}
.input {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px 15px;
  width: 330px;
  font-size: 16px;
}
.cancelIcon {
  width: 22px;
  height: 22px;
  margin-top: 11px;
  opacity: 0.2;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
